{
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "plugin:tailwindcss/recommended",
    "plugin:unicorn/all",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "unicorn/expiring-todo-comments": "off", // Prevent eslint crash
    "unicorn/no-null": "off",
    "unicorn/filename-case": [
      "error",
      {
        "case": "camelCase"
      }
    ],
    "unicorn/prevent-abbreviations": [
      "error",
      {
        "allowList": {
          "e2e": true
        }
      }
    ]
  },
  "overrides": [
    {
      "files": ["cypress/e2e/*.cy.ts"],
      "rules": {
        "unicorn/no-empty-file": "off"
      }
    },
    {
      "files": [
        "server/entity/*.ts",
        "server/dto/*.ts",
        "server/types/*.ts",
        "server/exceptions/*.ts"
      ],
      "rules": {
        "unicorn/filename-case": [
          "error",
          {
            "case": "pascalCase"
          }
        ]
      }
    },
    {
      "files": ["nuxt.config.ts"],
      "rules": {
        "unicorn/no-keyword-prefix": "off",
        "unicorn/text-encoding-identifier-case": "off"
      }
    }
  ]
}
